<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Engg. in Computer Science</h1>
            <span>Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal</span>
            <span><address>Bhopal, MP, India</address><time>2010 to 2014</time></span>
        </header>
        <p>
            <em>Project : Twitter Sentiment Analyser.</em>
        </p>
    </article>
	<article>
        <header>
            <h1>All India Senior School Certificate Examination(12th Board)</h1>
            <span>Kendriya Vidhyalaya(CBSE)</span>
            <span><address>Bhopal</address><time>2010</time></span>
        </header>
        <p>
            <em>74%</em>
        </p>
    </article>
	<article>
        <header>
            <h1>All India Secondary School Examination(10th Board)</h1>
            <span>Kendriya Vidhyalaya(CBSE)</span>
            <span><address>Bhopal</address><time>2008</time></span>
        </header>
        <p>
            <em>80%</em>
        </p>
    </article>
</section>
