<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Member of Technical Staff</h1>
            <span><address>[24]7 Innovation Labs, Bangalore, India</address><time>2015 to Present</time></span>
        </header>
        <p><i class="fa fa-code"></i> Designed and implemented Check Availability Enhancement Algorithm to predict better agent availability based on historical data and reduce the time and number of customers who have to wait in queue.</p>
		<p><i class="fa fa-code"></i> Implemented Agent Recommendations Engine to recommend relevant content (response or product) during chats to agent in order to reduce AHT (Average Handling Time) by 14% which will improve with time.</p>
    </article>
    <article>
        <header>
            <h1>Associate Software Engineer</h1>
            <span><address>Yodlee Infotech, Bangalore, India</address><time>2014 to 2015</time></span>
        </header>
        <p><i class="fa fa-code"></i> Implemented Yodlee’s FastLink API’s which helps customers to securely and easily link accounts from banks and financial institutions in a speedy manner to a single account.</p>
		<p><i class="fa fa-code"></i> Developed Automation Testing Framework to which helped in reduction of testing time for whole team by automating large part of testing.</p>
    </article>
    <article>
        <header>
            <h1>Intern</h1>
            <span><address>Yodlee Infotech, Bangalore, India</address><time>2013</time></span>
        </header>
        <p><i class="fa fa-code"></i> Created sample apps in various languages using Yodlee’s REST APIs for data aggregation to be used by Yodlee’s cobrands in developing their own apps.</p>
    </article>
</section>
