<section class="thirteen columns">
    <h1>Recognitions</h1>
    <article>
        <header>
            <h1>Bravo Award</h1>
            <span><address>[24]7 Innovation Labs, Bangalore, India</address><time>Q1 2017</time></span>
        </header>
        <p>
            For end to end delivery of Check Availability feature
        </p>
        <header>
            <h1>Spot Award</h1>
            <span><address>Yodlee Infotech, Bangalore, India</address><time>Q1 2015</time></span>
        </header>
        <p>
            For successful timely delivery of ATF Framework
        </p>
	</article>
</section>